<div class="content">
            <div class="card card-profile">
            								<div class="card-avatar">
            									<a href="https://www.youtube.com/watch?v=3YiIxopZKpY">
            										<img class="groot" src="https://i2.cdscdn.com/pdt2/8/9/4/1/700x700/adt6939611105894/rw/creative-guardians-of-the-galaxy-vol-2-baby-groot.jpg">
            									</a>
            								</div>

            								<div class="card-body">
            									  <h4 class="card-title">I'm Groot!</h4>
            									  <h6 class="category text-gray">Nature lover
                                </h6>
            									  <p class="card-description">
            										I'm Groot! I'm Groot!
            									  </p>

            								</div>
            	</div>
              <div class="card card-profile">
                              <div class="card-avatar">
                                <a href="https://www.youtube.com/watch?v=-9YfzEDbiDo">
                                  <img class="groot" src="https://pbs.twimg.com/profile_images/731984337348890625/BOGlQhSO_400x400.jpg">
                                </a>
                              </div>

                              <div class="card-body">
                                  <h4 class="card-title">Dobby</h4>
                                  <h6 class="category text-gray">Free elfe
                                  </h6>
                                  <p class="card-description">
                                  Dobby is free!!!!!
                                  </p>

                              </div>
                </div>
                <div class="card card-profile">
                                <div class="card-avatar">
                                  <a href="https://www.youtube.com/watch?v=3YiIxopZKpY">
                                    <img class="groot" src="https://vignette.wikia.nocookie.net/harrypotter/images/8/8b/Sneaky_Niffler_FB.png/revision/latest?cb=20161226071944">
                                  </a>
                                </div>

                                <div class="card-body">
                                    <h4 class="card-title">I'm Niffler!</h4>
                                    <h6 class="category text-gray">Gold lover
                                    </h6>
                                    <p class="card-description">
                                  Thief professionnal!
                                    </p>

                                </div>
                  </div>
</div>
