<footer>
<ul class="navbardown">

                <li><img src="https://mon-set-up-gaming.fr/wp-content/uploads/2017/10/logo-facebook.png" class="logo"></li>
                <li><img src="https://www.freepnglogos.com/uploads/new-instagram-logo-with-transparent-background-9.png" class="logo"></li>
                <li><img src="http://www.stickpng.com/assets/images/580b57fcd9996e24bc43c52e.png" class="logo"></li>
</ul>
<div class="tabs">
		<div class="tab">
			<input name="checkbox-tabs-group" type="radio" id="checkbox1" class="checkboxtab" checked>
			<label for="checkbox1">Prêt!!!!</label>
			<div class="content">
				Salut
			</div>
		</div>

		<div class="tab">
			<input name="checkbox-tabs-group" type="radio" id="checkbox2" class="checkboxtab">
			<label for="checkbox2">Feu!!!!</label>
			<div class="content">
			à
			</div>
		</div>

		<div class="tab">
			<input name="checkbox-tabs-group" type="radio" id="checkbox3" class="checkboxtab">
			<label for="checkbox3">Go!!!!!</label>
			<div class="content">
				toi!!!!!!
			</div>
		</div>
	</div>

</footer>
