<!DOCTYPE html>
<html>
<div class="navbar">

  <ul class="nav-logo">
    <li class="ceram">Sparkle</li>
    <li><button type="button" class="btn"> <a  href="https://www.youtube.com/watch?v=6xvv0UGtQHg">Accueil</a></button></li>
    <li><button type="button" class="btn" href="#">Inscription</button></li>
    <li><button type="button" class="btn" href="#">Connexion</button></li>
  </ul>

  <ul class="nav-right">
    <li class="nom">Charlotte</li>
    <li><img src="/assets/profil.png" class="img_profil"></li>
    </ul>
</div>

</html>
